<div id="navigation">
    <!--<div class="search">
        <i class="icon-search icon-white"></i>
        <form action="search-page.html" method="get">
            <input type="text" placeholder="Search here" />
        </form>
        <div class="dropdown">
            <a href="dashboard.html#" class='search-settings dropdown-toggle' data-toggle="dropdown"><i class="icon-cog icon-white"></i></a>
            <ul class="dropdown-menu">
                <li class='sort-by'>
                    Sort by <span class='filter'>Categories</span> <span class="order">A-Z</span>
                </li>
                <li class="heading">
                    Filter categories
                </li>
                <li class='filter active'>
                    Categories
                </li>
                <li class="filter">
                    Countries
                </li>
                <li class="filter">
                    Likes
                </li>
                <li class="heading">
                    Sorting order
                </li>
                <li class='order active'>
                    Ascending
                </li>
                <li class="order">
                    Descending
                </li>
            </ul>
        </div>
    </div>-->

    <ul class="mainNav" data-open-subnavs="multi">
        <li class='active'>
            <a href="dashboard.html"><i class="icon-home icon-white"></i><span>Dashboard</span></a>
        </li>
        <li>
            <a href="dashboard.html#"><i class="icon-list icon-white"></i><span>信息查看</span><span class="label">2</span></a>
            <ul class="subnav">
                <li>
                    <a href="basic-forms.html">用户信息</a>
                </li>
                <li>
                    <a href="extended-forms.html">抽奖信息</a>
                </li>
            </ul>
        </li>
    </ul>
    <!--
    <div class="status button">
        <div class="status-top">
        <div class="left">
        Saving changes...
    </div>
    </div>
    <div class="status-bottom">
        <div class="progress">
        <div class="bar" style="width:60%">60%</div>
        </div>
        </div>
        </div>
    -->
</div>